@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(43, 43, 43, 0.9);
  color: #000;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  max-width: 1380px;
  margin: 0 auto;
  background-color: rgb(205, 205, 205);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.form {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__title {
  text-align: center;
  margin-bottom: 30px;
}
.form__label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
  border: 2px solid transparent;
  outline: none;
  padding: 13px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}
.form__btn {
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgb(231, 107, 24);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.form__btn:hover {
  background-color: rgb(146, 65, 11);
}

.gallery {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.img-container {
  position: relative;
  width: 100%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.img-container .img-desc {
  font-weight: 600;
}
.img-container .delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgb(231, 107, 24);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.img-container .delete-btn:hover {
  background-color: rgb(146, 65, 11);
}