// Font Family
$ff: "Shadows Into Light", cursive;
$ff-secondary: "DynaPuff", system-ui;

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// ? Colors
$c-black: #000;
$c-bg: rgba(19, 19, 19, 0.7);
$c-body: rgba(5, 5, 5, 0.9);
$c-pink: rgb(254, 126, 148);
$c-white: rgb(255, 255, 255);


// ? Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);