* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff;
  background-color: $c-body;
  color: $c-white;
  position: relative;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}

.page-container {
  padding-top: 50px;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  background-color: $c-bg;

  #main-title {
    font-family: $ff-title;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 36px;
    color: $c-primary;
  }

  button {
    border: none;
    cursor: pointer;
  }

  #map {
    margin-bottom: 20px;
  }

  #current-location {
    text-align: center;
    margin-bottom: 40px;

    & span {
      font-weight: $fw-bold;
    }

    & .coordinates {
      font-weight: $fw-regular;
      color: $c-primary;
    }
  }

  h3 {
    color: $c-primary;
    margin-bottom: 20px;
  }

  #audio-list-container {
    padding-left: 40px;
    padding-right: 40px;
    list-style-position: inside; /* Встановіть inside для правильного відображення номерів */
    list-style-type: decimal;
  }

  #audio-list {
    width: 100%;
    & li {
      font-weight: $fw-medium;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 10px;
    }
  }
}

.controls {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.bars {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volumeContainer, button {
  width: 35px;
  height: 35px;
  background-color: $c-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  transition: $t-normal;
  border-radius: 50%;
  cursor: pointer;

  & svg {
    fill: $c-white;
  }

  &:hover {
    background-color: $c-btn;
  }
}

.progress-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: $c-white;
  border-radius: 4px;
  cursor: pointer;

}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: $c-primary;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.volume-control {
  display: none;
  position: absolute;
  bottom: 58px;
  left: -27px;
  -webkit-appearance: none;
  width: 70px;
  height: 3px;
  background: $c-primary;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transform: rotate(-90deg);
}

.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: $c-btn;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#currentTime,
#duration {
  color: #093009;
}

.active {
  display: block;
}
