@media screen and (max-width: 768px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  #audio-list-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  li {
    font-size: 14px;
  }

  .controls {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  li {
    flex-direction: column;
    align-items: start !important;
  }

  .controls {
    width: 100%;
  }
}