@media screen and (max-width: 768px) {
  li {
    max-width: 70%;
  }
}

@media screen and (max-width: 515px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }

  #messages {
    padding: 25px !important;
  }

  li {
    max-width: 85%;
  }
}

@media screen and (max-width: 350px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  #messages {
    padding: 25px 15px !important;
  }

  li {
    max-width: 90%;
  }

  #topbar {
    padding-left: 15px;
  }
}
