* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: $c-body;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 7px;
  color: white;
}

#header {
  padding: 10px;
  color: $c-success;
  font-weight: $fw-bold;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#header button {
  background-color: $c-danger;
  font-size: 18px;
  transition: $t-normal;

  &:hover {
    background-color: darken($c-danger, 10%);
  }
}

#container {
  width: 830px;
  background-color: $c-bg;
  padding: 30px;
}
#weekdays {
  width: 100%;
  display: flex;
  font-size: 17px;
  font-weight: $fw-bold;
  justify-content: space-evenly;
  color: $c-btn;
}
#weekdays li {
  list-style-type: none;
  width: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;

  &.short {
    display: none;
  }
}
#calender {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.day {
  list-style-type: none;
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  font-weight: $fw-bold;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  justify-content: space-between;
  transition: $t-normal;
}
.day:hover {
  background-color: lighten($c-btn, 25%);
}

.day + #currentDay {
  background-color: lighten($c-success, 10%);

  &:hover {
    background-color: $c-success;
  }
}
.event {
  font-size: 16px;
  text-align: center;
  font-weight: $fw-bold;
  padding: 3px;
  background-color: $c-danger;
  color: white;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: $c-bg-container !important;
  box-shadow: none !important;
}
#newEventModal {
  display: none;
  z-index: 20;
  padding: 30px;
  background-color: $c-bg-container;
  width: 100%;
  max-width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  & h2 {
    color: $c-text;
    font-weight: $fw-bold;
    margin-bottom: 30px;
  }
}

#eventTitleInput {
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 35px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px $c-bg-container;
}
#eventTitleInput.error {
  border: 2px solid red;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#deleteButton {
  background-color: $c-danger;
  transition: $t-normal;
  font-size: 18px;

  &:hover {
    background-color: darken($c-danger, 10%);
  }
}

#saveButton {
  background-color: $c-success;
  transition: $t-normal;
  font-size: 18px;
  font-weight: $fw-bold;

  &:hover {
    background-color: darken($c-success, 10%);
  }
}

#closeButton {
  background-color: $c-btn;
  transition: $t-normal;
  font-size: 18px;
  font-weight: $fw-bold;

  &:hover {
    background-color: darken($c-btn, 10%);
  }
}

#deleteAllButton,
.deleteButton {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $c-danger;
  transition: $t-normal;
  font-size: 18px;
  font-weight: $fw-bold;

  &:hover {
    background-color: darken($c-danger, 10%);
  }
}

#eventTextContainer {
  list-style-type: none;
  margin-bottom: 30px;

  & li {
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px;
    background-color: $c-bg;
  color: $c-text;
  font-weight: $fw-bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
