@include desktopBig {
  .testimonials {
    &__icon-container {
      @include absolute($top: 37px, $right: 30px);
    }

    &__card-title {
      font-size: $fs-card-title;
      margin-bottom: 15px;
    }

    &__text {
      font-size: $fs-text-mobile;
    }
  }
}

@include desktop {
  .testimonials {
    padding-top: 70px;

    &__icon-container {
      width: 30px;
      height: 30px;
      @include absolute($top: 20px, $right: 30px);
    }

    &__cards {
      @include flex($gap: 15px);
    }

    &__card {
      position: relative;
      background-color: $c-bg;
      padding: 20px 25px 33px 25px;
    }
  }
}

@include custom(900px) {
  .testimonials {
    &__cards {
      @include flex($wrap: wrap, $gap: 150px);
    }

    &__card {
      width: 100%;
      max-width: 500px;

      &:nth-of-type(2) {
        margin-left: auto;
      }
    }
  }
}

@include custom(600px) {
  .testimonials {
    &__subtitle {
      font-size: $fs-text-mobile;
    }

    &__title {
      font-size: $fs-title-mobile;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
