* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff;
  margin-top: 50px;
  background-color: $c-body;
  color: $c-white;
  position: relative;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}

#username-saved {
  position: absolute;
  left: -300px;
  bottom: 200px;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-secondary;
  transition: $t-normal;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &.show {
    transform: translateX(300px);
  }
}

.username {
  font-weight: $fw-bold;
  color: $c-secondary;
}

button {
  width: fit-content;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px;
  color: $c-white;
  background-color: $c-btn;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $c-message-bg;
  width: fit-content;
  word-break: break-word;
  max-width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;

  span {
    display: inline-block;
    font-weight: $fw-bold;
    margin-bottom: 10px;
    color: lighten($c-btn, 10%);
    display: flex;
    align-items: center;
    gap: 5px;

    & .online,
    & .offline {
      margin-bottom: 0;
      color: $c-white;
      font-weight: $fw-regular;
      font-size: 12px;
      vertical-align: super;
    }

    & .online {
      color: rgb(255, 167, 35);
    }

    & .offline {
      color: rgb(255, 82, 82);
    }
  }
}

.page-container {
  margin: 0 auto;
  background-color: $c-bg;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  margin-bottom: 30px;

  .topbar {
    background-color: $c-secondary;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 10px 10px 30px;
    display: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &-title {
      color: $c-white;
      font-weight: $fw-regular;
      font-size: 18px;
      margin-bottom: 0;
    }
  }

  & h2 {
    color: $c-btn;
    margin-bottom: 20px;
  }

  #chat {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #messages {
    display: none;
    padding: 50px;
    overflow: auto;
    flex-grow: 1;
    max-height: calc(100% - 60px);

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: $c-primary; /* Колір доріжки скролу */
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $c-scroll; /* Колір самого скролу */
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #555; /* Колір скролу при наведенні */
    }
  }

  #username-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #username {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    outline: none;
  }

  #message-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    & button {
      border-bottom-right-radius: 5px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  #messageInput {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: $c-primary;
    color: $c-white;
    border-bottom-left-radius: 5px;
  }

  .system-message {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    & .iconContainer {
      & svg {
        fill: $c-secondary;
      }
    }
  }
}

.hidden {
  display: none !important;
}
