// Font Family
$ff: "Red Hat Text", sans-serif;
$ff-title: "Moirai One", serif;
// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// ? Colors
$c-black: #000;
$c-bg: rgba(28, 28, 28, 0.7);
$c-body: #0F0F0F;
$c-white: #fff;
$c-btn: #008170;
$c-secondary: #005B41;
$c-primary: #222f2a;
$c-message-bg: #2a2a2a;
$c-scroll: #245346;

// ? Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);