* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.light {
  background-color: antiquewhite;
}
.light button {
  background-color: aquamarine;
}
.light select {
  background-color: aqua;
}

.dark {
  background-color: gray;
}
.dark button {
  background-color: orange;
}
.dark select {
  background-color: orange;
}